<div class="navbar navbar-inverse navbar-fixed-top" style="background: radial-gradient(circle, rgba(140,34,81,1) 0%, rgba(35,57,83,1) 100%); ">
    <div class="container">
        <div class="navbar-header"  >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("RentAMovie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" >
                <li>@Html.ActionLink("New Rental", "New", "Rentals")</li>
                <li>@Html.ActionLink("Customers", "Customers", "Customer")</li>
                <li>@Html.ActionLink("Movies", "Movies", "Movies")</li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
            <li>@Html.ActionLink("Log in", "Login", "Account")</li>
        </ul>*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

